<!--<div class="skeleton-form" style="padding: 1rem 0;">-->
<!--  <div class="skeleton skeleton-shapes"></div>-->
<!--  <br />-->
<!--  <mat-divider />-->
<!--  <br />-->
<!--  <div class="skeleton skeleton-shapes"></div>-->
<!--  <br />-->
<!--  <div class="skeleton skeleton-button"></div>-->
<!--</div>-->


<div class="skeleton-content">
  <div class="skeleton-header">
    <div class="skeleton-line" style="width: 50px; height: 50px; border-radius: 50%;"></div>
    <div class="skeleton-line" style="width: 40%;"></div>
    <div class="skeleton-line" style="width: 70%; height: 0.75rem; margin-top: 0.5rem;"></div>
  </div>

  <div class="skeleton-form-fields">
    <div class="skeleton-line" style="height: 3.5rem;"></div>
    <div class="skeleton-line" style="height: 3.5rem;"></div>
  </div>

  <div class="skeleton-footer">
    <div class="skeleton-line" style="width: 50%;"></div>
    <div class="skeleton-line" style="height: 2.5rem; margin-top: 1rem;"></div>
  </div>

  <div class="skeleton-social-login">
    <div class="skeleton-circle"></div>
    <div class="skeleton-circle"></div>
    <div class="skeleton-circle"></div>
    <div class="skeleton-circle"></div>
  </div>
</div>
